@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap");
:root {
  /* fonts */
  --bodyFont: "Outfit", sans-serif;
  --headingFont: "Young Serif", serif;
  /* primary colors */
  --clr-primary-1-nutmeg: hsl(14, 45%, 36%);
  --clr-primary-2-darkRasberry: hsl(332, 51%, 32%);
  /* secondary colors */
  --secondary-1-white: hsl(0, 0%, 100%);
  --secondary-2-roseWhite: hsl(330, 100%, 98%);
  --secondary-3-eggShell: hsl(30, 54%, 90%);
  --secondary-4-lightGrey: hsl(30, 18%, 87%);
  --secondary-5-wengeBrown: hsl(30, 10%, 34%);
  --secondary-6-darkCharcoal: hsl(24, 5%, 18%);
  /* box shadow */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

body {
  font-family: var(--bodyFont);
  height: 100vh;
  font-size: 1rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
