@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap");
:root {
  /* fonts */
  --bodyFont: "Outfit", sans-serif;
  --headingFont: "Young Serif", serif;
  /* primary colors */
  --clr-primary-1-nutmeg: hsl(14, 45%, 36%);
  --clr-primary-2-darkRaspberry: hsl(332, 51%, 32%);
  /* secondary colors */
  --secondary-1-white: hsl(0, 0%, 100%);
  --secondary-2-roseWhite: hsl(330, 100%, 98%);
  --secondary-3-eggShell: hsl(30, 54%, 90%);
  --secondary-4-lightGrey: hsl(30, 18%, 87%);
  --secondary-5-wenge-brown: hsl(30, 10%, 34%);
  --secondary-6-darkCharcoal: hsl(24, 5%, 18%);
  /* box shadow */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
body {
  background-color: var(--secondary-3-eggShell);
  font-size: 1.2rem;
  color: var(--secondary-6-darkCharcoal);
  line-height: 1.5;
  min-width: 23.5rem;
  min-height: 100vh;
}
.container {
  background-color: var(--secondary-1-white);
  max-width: 40rem;
  margin: auto;
}
.recipe-information {
  padding: 2rem;
}
h1 {
  font-family: var(--headingFont);
  color: var(--secondary-6-darkCharcoal);
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
h2 {
  font-family: var(--headingFont);
  color: var(--clr-primary-1-nutmeg);
  font-weight: 500;
}
h3 {
  font-size: 1.5rem;
  color: var(--clr-primary-2-darkRaspberry);
}
p {
  margin-bottom: 3rem;
}
li::marker {
  color: var(--clr-primary-1-nutmeg);
  font-weight: 700;
}
ul li {
  margin-bottom: 1rem;
}
.recipe-prep-time {
  background: var(--secondary-2-roseWhite);
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}
.recipe-prep-time h3 {
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.recipe-ingredients ul {
  margin-bottom: 2rem;
}
.recipe-prep-time ul li {
  padding-left: 2rem;
}
.recipe-ingredients h2 {
  margin-bottom: 1.5rem;
}
.recipe-ingredients ul li {
  padding-left: 2rem;
}
.recipe-ingredients {
  border-bottom: 0.5px solid var(--clr-primary-1-nutmeg);
  margin-bottom: 2rem;
}
.recipe-instructions h2 {
  margin-bottom: 1.5rem;
}
.recipe-instructions ol li {
  padding-left: 2rem;
  margin-bottom: 1.5rem;
}
.recipe-instructions {
  border-bottom: 0.5px solid var(--clr-primary-1-nutmeg);
  margin-bottom: 2rem;
}
.nutrition {
  font-family: var(--bodyFont);
}
.nutrition h2 {
  margin-bottom: 1.5rem;
}
tr,
td {
  padding: 0.625rem;
  border-bottom: 0.5px solid var(--clr-primary-2-darkRaspberry);
}
.data {
  color: var(--clr-primary-1-nutmeg);
  font-weight: 700;
  margin-left: 6rem;
  margin-right: 6rem;
}
@media (min-width: 30rem) {
  header {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  img {
    border-radius: 1rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
